:root {
  font-family: 'Inter', sans-serif;
  color-scheme: light dark;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}